
body {
    background-color: #818387;
    /*background-color: #333333;*/
    margin: 0 auto;
    width: 100%;
    height: 1600px;
}

::-webkit-scrollbar { width: 0 !important }

#canvas {
    width: 100%;
    height: 100%;

    margin: 20px auto;

    /*background-color: #adaeb0;*/
    background-color: #333333;
    /*position: fixed;*/
}

#canvas-wrapper {
    position: fixed;
    text-align: center;
    width: 100%;
}

