
@font-face {
    font-family: studiosFont;
    src: url("../font/StudiosFutura-Book.otf") format('opentype');
    src: url('../font/StudiosFutura-Book/studiosfutura-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/StudiosFutura-Book/studiosfutura-book-webfont.woff2') format('woff2'),
         url('../font/StudiosFutura-Book/studiosfutura-book-webfont.woff') format('woff'),
         url('../font/StudiosFutura-Book/studiosfutura-book-webfont.ttf') format('truetype'),
         url('../font/StudiosFutura-Book/studiosfutura-book-webfont.svg#studios_futurabook') format('svg');
}

@font-face {
    font-family: studiosFontBold;
    src: url("../font/StudiosFutura-Bold.otf") format('opentype');
    src: url('../font/StudiosFutura-Bold/studiosfutura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/StudiosFutura-Bold/studiosfutura-bold-webfont.woff2') format('woff2'),
         url('../font/StudiosFutura-Bold/studiosfutura-bold-webfont.woff') format('woff'),
         url('../font/StudiosFutura-Bold/studiosfutura-bold-webfont.ttf') format('truetype'),
         url('../font/StudiosFutura-Bold/studiosfutura-bold-webfont.svg#studios_futurabold') format('svg');

}

body {
    font-family: helvetica;
    margin: 0 auto;
    min-width: 320px;
    

    /* uncomment this and comment the following to enable scrolling if scrolling site needed */
    /*height: 1600px;*/
    overflow: hidden;
}

::-webkit-scrollbar { width: 0 !important }

#canvas-wrapper {
    position: fixed;
    width: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: #333333;
}

.full-panel {
    width: 100%;
    height: 100%;
    background-color: #252525;
    position: fixed;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%);
}

.logo {
    margin: 100px 0 180px 0;
    width: 260px;
}

.begin-button {

}

.begin-text {
    font-family: studiosFontBold, helvetica;
    text-transform: uppercase;
    font-size: 18px;
    padding: 2px;
}

.begin-arrow {
    position: relative;
    width: 80px;
    padding-top: 20px;
}

.en {
    color: #ffffff;
}

.fr {
    color: #bebec0;
}

#panel-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 280px;
}

.panel {
    width: 600px;
    height: 420px;
    margin: 0 auto;
    background-color: #252525;
    font-family: studiosFontBold, helvetica;

    /*
    -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.75);
    */
}

.panel-top {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 20px;
    opacity: 0;
}

.years-text {
    font-size: 90px;
    letter-spacing: -12px;
    color: white;
    text-align: center;
    padding: 72px 0;
}

.years-text span {
    opacity: 0;
}

.social {
    position: absolute;
    right: 20px;
    top: 20px;
}

.social img {
    height: 20px;
    margin-left: 5px;
}

.panel-bottom {
    opacity: 0;
}

.new-year-text {
    display: inline-block;
    width: 188px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 0 20px 20px;
}

.logo-small {
    width: 120px;
    float: right;
    margin: 28px 20px;
}

.confetti {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%);

    z-index: -1;
    opacity: 0;
}

@media (max-width: 600px) {
   .panel {
        width: 100%;
        height: 312px;
   }

   .years-text {
        font-size: 60px;
        letter-spacing: -10px;
    }

    .panel-top {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 0 10px;
    }

    .new-year-text {
        width: 110px;
        font-size: 12px;
        line-height: 14px;
        padding: 0 0 0 10px;
    }

    .social {
        /* remove cause it's too tiny to click anyway */
        display: none;

        /* in case we want to bring it back */
        right: 10px;
        top: 10px;
    }

    .social img {
        height: 16px;
    }

    .confetti {
        width: 320px;
    }

    .logo-small {
        margin: 24px 8px 0 0;
        width: 70px;
    }
}

/* 1281 ensures macbook air 11" doesn't get scaled up version */
@media (min-width: 1281px) {
   .panel {
        width: 800px;
        height: 600px;
   }

   .years-text {
        font-size: 128px;
        letter-spacing: -20px;
        padding: 118px 0;
    }

    .panel-top {
        font-size: 28px;
        line-height: 30px;
    }

    .panel-bottom {
        font-size: 28px;
        line-height: 30px;
    }

    .new-year-text {
        width: 252px;
        font-size: 26px;
        line-height: 28px;
    }

    .social img {
        height: 24px;
        margin-left: 10px;
    }

    .confetti {
        width: 600px;
    }

    .logo-small {
        width: 160px;
        float: right;
        margin: 40px 32px;
    }
}